---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
const posts = await Astro.glob("./posts/*.mdx");
console.log(posts);
---

<DefaultLayout>
	<div class="flex flex-col gap-8 px-12">
		<h1 class="text-xl font-bold">Posts:</h1>
		<ul class="rounded-md bg-neutral-500/10 p-2">
			{
				posts.map((post) => (
					<li class="hover:font-bold">
						<a href={post.url}>{post.frontmatter.title}</a>
					</li>
				))
			}
		</ul>
	</div>
</DefaultLayout>
