---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
const posts = await Astro.glob("./posts/*.mdx");
---

<DefaultLayout>
	<div class="mx-auto flex max-w-3xl flex-col gap-8 p-8 px-12">
		<div>
			<h1 class="text-xl font-bold">Check out some of the posts I made.</h1>
			<p class="text-sm">You might like them.</p>
		</div>

		<ul>
			{
				posts.map((post) => (
					<a href={post.url}>
						<li class="rounded-md border border-transparent bg-neutral-500/10 px-4 py-2 transition-colors hover:border-blue-600/50">
							<div class="flex flex-row items-center gap-4">
								<div>
									<p class="font-bold">{post.frontmatter.date}</p>
								</div>
								<div class="flex flex-col">
									<p>{post.frontmatter.title}</p>
									<p class="text-sm">{post.frontmatter.subtitle}</p>
								</div>
							</div>
						</li>
					</a>
				))
			}
		</ul>
	</div>
</DefaultLayout>
