@tailwind base;
@tailwind components;
@tailwind utilities;

/* root */

:root {
	color-scheme: dark;
}

/* default styles */

body {
	font-family: "Josefin Sans Variable", sans-serif;
	text-shadow: 1px 2px 0px #222;

	@apply bg-zinc-900 text-zinc-50;
}

.bg-pattern {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='399' viewBox='0 0 100 199'%3E%3Cg fill='%23a6a47f' fill-opacity='1'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
	position: fixed;
	height: 100vh;
	width: 200vw;
	z-index: -100;
	opacity: 0.1;
}

/* animations */

.animate-updown {
	@apply animate-[updown_3s_ease-in-out_infinite];
}

.animate-fadeIn {
	@apply animate-[fadeIn_2s];
}

.animate-saturate {
	@apply animate-[saturate_3s_ease-in-out_infinite];
}

.animate-scaleUp {
	@apply animate-[scaleUp_2s];
	animation-fill-mode: forwards;
}

@keyframes updown {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes saturate {
	0% {
		filter: saturate(100%);
	}
	50% {
		filter: saturate(50%);
	}
	100% {
		filter: saturate(100%);
	}
}

@keyframes scaleUp {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.8);
	}
}
