---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Hero from "../components/Hero.astro";
import Contact from "../components/Contact.astro";
import Project from "../components/Project.astro";
import Skill from "../components/Skill.astro";
---

<DefaultLayout title="Ahmed Systems">
	<main class="flex flex-col gap-28 px-6 md:px-32">
		<Hero />

		<!-- Projects -->
		<section class="min-h-[70vh]">
			<h1 class="text-2xl font-bold">Projects</h1>
			<div class="flex flex-col gap-4 py-8 md:flex-row md:overflow-x-scroll">
				<Project
					title={"Oswald"}
					about="POS System for handling small shops inventory and sales. Available in English and Kurdish. The project is in Typescript, with frontend done in React using Mantine components and heroicons, and the state management using indigoux Toolkit. The backend is entirely handled by Pocketbase. It handles products, categories, transactions with a multi-checkout system, and light/dark multi-colouindigo themes."
					techs={["react", "redux", "typescript"]}
				/>

				<Project
					title={"Countries"}
					about="Quiz PWA in React about countries, capitals and flags, in English and Kurdish. The frontend is done with React and ChakraUI connecting to an express backend with React Query. There are two games: one for guessing capitals of countries, and another for guessing countries' names from flags."
					previewLink="https://countries.ahmed.systems"
					techs={["react", "chakraui", "typescript", "nodejs", "express"]}
				/>

				<Project
					title={"Hawr"}
					about="A weather forecasting app, available in English and Kurdish. Made with a React and a free API, it forecasts 2 days ahead and shows you temprature, change of rain and weather for them. It utilized React Query for fetching, Jotai for state management, and Material UI for the interface and icons."
					previewLink="https://hawr.ahmed.systems"
					techs={["react", "materialui", "javascript"]}
				/>

				<Project
					title={"Devpace"}
					about="Built as a tool for pacing and planning ProjectsItems and coding time. This webapp uses VueJS in composition API style, along with extensive reliance on the amazing Pinia state management library. The UI was done with NaiveUI. You have notes, pomodoro, and stupid api text in one app."
					previewLink="https://devpace.ahmed.systems"
					techs={["vuejs", "css3", "typescript"]}
				/>

				<Project
					title={"JournalV"}
					about="A desktop app made for day journaling, and dreams, too. It all depends on the rather small and blazingly fast Tauri toolkit, with Vue on top for the UI rendering. JournalV lets you create entries of the day, or the night, and encrypt then save them. Also can filter your entries and add tags to them."
					techs={["vuejs", "rust", "css3", "typescript"]}
				/>
			</div>
		</section>
		<!-- Projects End -->

		<!-- Skills -->
		<section class="min-h-[70vh]">
			<h1 class="text-2xl font-bold">Skills</h1>
			<div class="flex flex-wrap justify-center gap-4 py-8">
				<Skill title={"Typescript"} icon={"typescript"} />
				<Skill title={"React"} icon={"react"} />
				<Skill title={"VueJS"} icon={"vuejs"} />
				<Skill title={"Solid"} icon={"solid"} />
				<Skill title={"TailwindCSS"} icon={"tailwindcss"} />
				<Skill title={"Linux"} icon={"linux"} />
				<Skill title={"Python"} icon={"python"} />
				<Skill title={"Go"} icon={"go"} />
				<Skill title={"PHP"} icon={"php"} />
				<Skill title={"MySQL"} icon={"mysql"} />
				<Skill title={"Rust"} icon={"rust"} />
			</div>
		</section>
		<!-- Skills End -->

		<Contact />
	</main>
</DefaultLayout>
