---
import { Icon } from "astro-icon";
---

<div
	class="flex flex-col items-center justify-between gap-8 rounded-t-3xl bg-teal-300/10 px-8 py-4 md:flex-row"
>
	{/* left */}
	<div class="flex h-14 cursor-default place-items-center gap-2">
		© 2023 - ahme.dev
	</div>

	{/* right */}
	<div class="flex h-14 gap-2 py-3">
		<a
			href="https://github.com/ahme-dev/portfolio"
			class="h-full w-full transition hover:text-teal-300"
		>
			<Icon name="mdi:code-array" class="h-full w-full cursor-pointer" />
		</a>
		<a href="#Home" class="h-full w-full transition hover:text-teal-300">
			<Icon name="mdi:arrow-up-bold-box" class="h-full w-full cursor-pointer" />
		</a>
	</div>
</div>
