---
import { Icon } from "astro-icon";
---

<div
	id="Home"
	class="grid min-h-[70vh] grid-rows-2 place-items-center gap-2 pt-24 md:basis-full md:grid-cols-2 md:grid-rows-none md:gap-16"
>
	{/* Text */}
	<p class="max-w-lg self-center justify-self-center text-3xl font-bold">
		Hi, my name's <b class="text-indigo-300">Ahmed</b>.
		<br />
		<br />
		I strive to write performant, clean code that creates beautiful, accessible UI,
		and dependable, useful software.
	</p>

	{/* Nav */}
	<nav class="flex flex-col gap-4">
		<div class="flex flex-row flex-wrap items-center justify-center gap-4">
			<a
				href="mailto:ahmadkabdullah@proton.me"
				target="_blank"
				class="w-20 rounded-full bg-indigo-300/10 p-2 transition-all hover:rounded-3xl hover:bg-indigo-300 hover:text-neutral-900"
			>
				<Icon name="mdi:alternate-email" class="h-full w-full cursor-pointer" />
			</a>
			<a
				href="https://t.me/ahmedkabd"
				target="_blank"
				class="w-20 rounded-full bg-indigo-300/10 p-2 transition-all hover:rounded-3xl hover:bg-indigo-300 hover:text-neutral-900"
			>
				<Icon name="ic:sharp-telegram" class="h-full w-full cursor-pointer" />
			</a>
			<a
				href="https://github.com/ahmeddots"
				target="_blank"
				class="w-20 rounded-full bg-indigo-300/10 p-2 transition-all hover:rounded-3xl hover:bg-indigo-300 hover:text-neutral-900"
			>
				<Icon name="mdi:github" class="h-full w-full cursor-pointer" />
			</a>
		</div>

		<a
			href="/blog/"
			class="flex items-center justify-center rounded-2xl bg-indigo-300/10 p-2 transition-all hover:rounded-3xl hover:bg-indigo-300 hover:text-neutral-900"
		>
			<p class="font-mono text-lg font-bold">Checkout Out My Blog</p>
		</a>
	</nav>
</div>
