---
import { Icon } from "astro-icon";

export interface Props {
	title: string;
	about: string;
	previewLink?: string;
	techs: string[];
	closedSource?: boolean;
}

const props = Astro.props;
---

<div
	class="group flex h-fit shrink-0 flex-col overflow-hidden bg-teal-300/10 transition-all hover:-translate-y-2 hover:rounded-3xl hover:bg-teal-300 hover:text-neutral-900 md:basis-[30rem]"
>
	{/* Top section */}
	<div
		class="flex flex-wrap justify-between gap-4 bg-teal-300 p-8 text-neutral-900 group-hover:bg-teal-200"
	>
		{/* Tech used */}
		<div class="flex flex-wrap items-center gap-2 [&>*]:h-6 [&>*]:w-6">
			{props.techs.map((tech) => <Icon name={`simple-icons:${tech}`} />)}
		</div>
		{/* Buttons */}
		<div class="flex gap-2">
			{
				props.previewLink && (
					<a
						href={props.previewLink}
						target="_blank"
						class="flex h-8 w-8 cursor-pointer gap-2 rounded-full border-2 border-neutral-900 p-1 font-bold transition-all hover:bg-neutral-900 hover:text-neutral-100"
					>
						<Icon name="mdi:firefox" />
					</a>
				)
			}
			{
				!props.closedSource && (
					<a
						href={"https://github.com/ahme-dev/" + props.title.toLowerCase()}
						target="_blank"
						class="flex h-8 w-8 cursor-pointer gap-2 rounded-full border-2 border-neutral-900 p-1 font-bold transition-all hover:bg-neutral-900 hover:text-neutral-100"
					>
						<Icon name="mdi:github" />
					</a>
				)
			}
		</div>
	</div>

	{/* Bottom section */}
	<div class="flex flex-col gap-4 p-8">
		<h1 class="text-lg font-bold">{props.title}</h1>
		<p>{props.about}</p>
	</div>
</div>
