---
import { Icon } from "astro-icon";

export interface Props {
	title: string;
	about: string;
	previewLink?: string;
	techs: string[];
	closedSource?: boolean;
}

const props = Astro.props;
---

<div
	class="md:basis-[30rem] overflow-hidden h-fit shrink-0 flex flex-col group bg-indigo-300/10 hover:bg-indigo-300 hover:text-neutral-900 hover:rounded-3xl transition-all hover:-translate-y-2"
>
	{/* Top section */}
	<div
		class="flex flex-wrap gap-4 justify-between bg-indigo-300 group-hover:bg-indigo-200 p-8 text-neutral-900"
	>
		{/* Tech used */}
		<div class="flex flex-wrap items-center gap-2 [&>*]:h-6 [&>*]:w-6">
			{props.techs.map((tech) => <Icon name={`simple-icons:${tech}`} />)}
		</div>
		{/* Buttons */}
		<div class="flex gap-2">
			{
				props.previewLink && (
					<a
						href={props.previewLink}
						target="_blank"
						class="flex gap-2 h-8 w-8 border-2 rounded-full p-1 font-bold border-neutral-900 hover:bg-neutral-900 hover:text-neutral-100 transition-all cursor-pointer"
					>
						<Icon name="mdi:firefox" />
					</a>
				)
			}
			{
				!props.closedSource && (
					<a
						href={
							"https://github.com/ahmeddots/" +
							props.title.toLowerCase()
						}
						target="_blank"
						class="flex gap-2 h-8 w-8 border-2 rounded-full p-1 font-bold border-neutral-900 hover:bg-neutral-900 hover:text-neutral-100 transition-all cursor-pointer"
					>
						<Icon name="mdi:github" />
					</a>
				)
			}
		</div>
	</div>

	{/* Bottom section */}
	<div class="flex flex-col gap-4 p-8">
		<h1 class="font-bold text-lg">{props.title}</h1>
		<p>{props.about}</p>
	</div>
</div>
