---
import ProjectsItem from "./ProjectsItem.astro";

const projects = [
	{
		title: "Hawr",
		about:
			"A weather forecasting app, available in English and Kurdish. Made with a React and a free API, it forecasts 2 days ahead and shows you temprature, change of rain and weather for them. It utilized React Query for fetching, Jotai for state management, and Material UI for the interface and icons.",
		previewLink: "https://hawr.ahmed.systems",
		techs: ["react", "materialui", "javascript"],
	},

	{
		title: "Devpace",
		about:
			"Built as a tool for pacing and planning ProjectsItems and coding time. This webapp uses VueJS in composition API style, along with extensive reliance on the amazing Pinia state management library. The UI was done with NaiveUI. You have notes, pomodoro, and stupid api text in one app.",
		previewLink: "https://devpace.ahmed.systems",
		techs: ["vuejs", "css3", "typescript"],
	},

	{
		title: "JournalV",
		about:
			"A desktop app made for day journaling, and dreams, too. It all depends on the rather small and blazingly fast Tauri toolkit, with Vue on top for the UI rendering. JournalV lets you create entries of the day, or the night, and encrypt then save them. Also can filter your entries and add tags to them.",
		techs: ["vuejs", "rust", "css3", "typescript"],
	},

	{
		title: "Centerm",
		about:
			"A terminal tool written in Go to interact with sound, power, brightness and networking. It acts as an interface for a number of tools and unifies your commands for the mentioned items. Centerm lets you connect-to/disconnect wifi connections, check battery charge level, adjust system sound, and create hotspots, if tools are installed.",
		techs: ["go"],
	},

	{
		title: "GetTube",
		about:
			"Made for downloading videos from youtube, facebook, and other sites. Built with C# and WPF, using icons from flaticon, it lets you paste in links and takes care of downloading video or audio using youtube-dl.",
		techs: ["csharp"],
	},
];
---

<div class="min-h-[70vh]">
	<h1 class="font-bold text-2xl">Projects</h1>
	<div class="flex flex-col gap-4 md:flex-row md:overflow-x-scroll py-8">
		{projects.map((project) => <ProjectsItem {...project} />)}
	</div>
</div>
