---
import ProjectsItem from "./ProjectsItem.astro";

const projects = [
	{
		title: "Oswald",
		about:
			"POS System for handling small shops inventory and sales. Available in English and Kurdish. The project is in Typescript, with frontend done in React using Mantine components and heroicons, and the state management using indigoux Toolkit. The backend is entirely handled by Pocketbase. It handles products, categories, transactions with a multi-checkout system, and light/dark multi-colouindigo themes.",
		techs: ["react", "redux", "typescript"],
	},

	{
		title: " Countries",
		about:
			"Quiz PWA in React about countries, capitals and flags, in English and Kurdish. The frontend is done with React and ChakraUI connecting to an express backend with React Query. There are two games: one for guessing capitals of countries, and another for guessing countries' names from flags.",
		previewLink: "https://countries.ahmed.systems",
		techs: ["react", "chakraui", "typescript", "nodejs", "express"],
	},

	{
		title: "Hawr",
		about:
			"A weather forecasting app, available in English and Kurdish. Made with a React and a free API, it forecasts 2 days ahead and shows you temprature, change of rain and weather for them. It utilized React Query for fetching, Jotai for state management, and Material UI for the interface and icons.",
		previewLink: "https://hawr.ahmed.systems",
		techs: ["react", "materialui", "javascript"],
	},

	{
		title: "Devpace",
		about:
			"Built as a tool for pacing and planning ProjectsItems and coding time. This webapp uses VueJS in composition API style, along with extensive reliance on the amazing Pinia state management library. The UI was done with NaiveUI. You have notes, pomodoro, and stupid api text in one app.",
		previewLink: "https://devpace.ahmed.systems",
		techs: ["vuejs", "css3", "typescript"],
	},

	{
		title: "JournalV",
		about:
			"A desktop app made for day journaling, and dreams, too. It all depends on the rather small and blazingly fast Tauri toolkit, with Vue on top for the UI rendering. JournalV lets you create entries of the day, or the night, and encrypt then save them. Also can filter your entries and add tags to them.",
		techs: ["vuejs", "rust", "css3", "typescript"],
	},
];
---

<div class="min-h-[70vh]">
	<h1 class="font-bold text-2xl">Projects</h1>
	<div class="flex flex-col gap-4 md:flex-row md:overflow-x-scroll py-8">
		{projects.map((project) => <ProjectsItem {...project} />)}
	</div>
</div>
