---
import { Icon } from "astro-icon";

export interface Props {
	title: string;
	icon: string;
}

const props = Astro.props;
---

<div
	class="group flex h-32 w-32 cursor-pointer flex-col items-center justify-center gap-2 bg-teal-300/10 p-8 transition-all hover:scale-105 hover:rounded-3xl hover:bg-teal-300 hover:text-neutral-900"
>
	<div class="h-full w-full p-2 [&>*]:h-full [&>*]:w-full">
		<Icon name={`simple-icons:${props.icon}`} />
	</div>
	<h1 class="text-lg font-bold">{props.title}</h1>
</div>
