---
import { Icon } from "astro-icon";

export interface Props {
	title: string;
	icon: string;
}

const props = Astro.props;
---

<div
	class="flex flex-col items-center justify-center group w-32 h-32 gap-2 p-8 bg-amber-200/10 hover:bg-amber-200 hover:text-neutral-900 rounded-3xl transition-all cursor-pointer hover:scale-105"
>
	<div class="w-full h-full p-2 [&>*]:w-full [&>*]:h-full">
		<Icon name={`simple-icons:${props.icon}`} />
	</div>
	<h1 class="font-bold text-lg">{props.title}</h1>
</div>
