@import "tailwindcss";


@theme {
	--font-imbue: "Imbue Variable", "Segoe UI", Tahoma, Geneva, Verdana,
		sans-serif;
	--font-koulen: "Koulen", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

	--color-pr: #ff3535;
	--color-fg: #1b1b1b;
	--color-bg: #fdf7d6;

	--text-extra-small: 24px;
	--text-small: 36px;
	--text-medium: 64px;
	--text-large: 120px;
	--text-larger: 290px;
	--text-extra-large: 580px;

	--spacing-8xl: 1650px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-fg: #fdf7d6;
		--color-bg: #1b1b1b;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	overflow-wrap: inherit;
	cursor: none;
}

body {
	overflow-wrap: break-word;
	margin: 0;
	padding: 0;

	@apply text-fg bg-bg;
	@apply font-imbue select-none;

	min-height: 100vh;
	width: 100vw;
	overflow-y: auto;
	overflow-x: hidden;
}

.shadow-dance {
	-webkit-text-stroke: 2px var(--color-fg);
	background-image: linear-gradient(transparent 50%, var(--color-fg) 50%);
	background-size: 100% 200%;
	background-position: center;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: background-position 1s ease-in-out;
}

.shadow-dance:hover {
	background-position: bottom;
	transition: background-position 1s ease-in-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.7;
	}

	100% {
		opacity: 0.3;
	}
}

@keyframes pulse {

	0%,
	100% {
		opacity: 0.3;
	}

	50% {
		opacity: 0.7;
	}
}

.animate-fade-in {
	animation: fadeIn 2s ease-in-out forwards, pulse 2s ease-in-out infinite;
	will-change: opacity;
	transform: translateZ(0);
	backface-visibility: hidden;
}

.animate-shadow-dance-initial {
	-webkit-text-stroke: 2px var(--color-fg);
	background-image: linear-gradient(transparent 50%, var(--color-fg) 50%);
	background-size: 100% 200%;
	background-position: top;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shadowDanceInitial 3.5s ease-in-out forwards;
}

@keyframes shadowDanceInitial {
	0% {
		background-position: center;
	}

	100% {
		background-position: bottom;
	}
}