---
import Meta from "../components/Meta.astro";
const {
	title = "Astro",
	description = "A starter project with accessibility features using Astro static site builder. Contains accessible landmarks, skip links, a dark mode color scheme, better focus outline and keyboard menu navigation.",
	image = "/social-preview-image.png",
	author = "Ahmed",
} = Astro.props;
---

<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />

		<!-- favicon -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<Meta
			title={title}
			description={description.substring(0, 100)}
			url={Astro.site
				? `${Astro.site}/${title.toLowerCase().replaceAll(" ", "-")}`
				: `https://ahmed.systems/${title.toLowerCase().replaceAll(" ", "-")}`}
			image={image}
			author={author}
		/>
	</head>
	<body class="bg-neutral-900 text-neutral-100">
		<main id="main-content">
			<slot />
		</main>
	</body>
</html>
