---
import Meta from "../components/Meta.astro";
const {
	title = "Ahmed's Blog",
	description = "A starter project with accessibility features using Astro static site builder. Contains accessible landmarks, skip links, a dark mode color scheme, better focus outline and keyboard menu navigation.",
	image = "/social-preview-image.png",
	author = "Ahmed",
} = Astro.props;
import "@fontsource-variable/outfit";
---

<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />

		<!-- favicon -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<Meta
			title={title}
			description={description.substring(0, 100)}
			url={Astro.site
				? `${Astro.site}/${title.toLowerCase().replaceAll(" ", "-")}`
				: `https://ahme.dev/${title.toLowerCase().replaceAll(" ", "-")}`}
			image={image}
			author={author}
		/>

		<style is:global>
			:root {
				--fontsource-display: optional;
			}

			@font-face {
				font-display: var(--fontsource-display, swap);
			}

			body {
				font-family: "Outfit Variable", sans-serif;
			}
		</style>
	</head>
	<body class="relative bg-neutral-900 text-neutral-100">
		<img
			src="/waves.svg"
			class="absolute left-0 top-0 -z-10 w-[100vw] opacity-10"
		/>

		<main>
			<slot />
		</main>
	</body>
</html>
