---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body class="relative">
		<img
			class="absolute w-screen left-0 top-0 opacity-[15%] -z-10"
			src="/waves.svg"
		/>

		<nav>
			<a href="/" class="bg-red-400">Home</a>
			<a href="/blog/" class="bg-red-400">Blog</a>
		</nav>

		<slot />
	</body>
</html>

<style is:global>
	body {
		background-color: #171717;
		color: #f5f5f5;
		font-family: "Oswald", sans-serif;
	}
</style>
