---
import DefaultLayout from "./DefaultLayout.astro";

const { frontmatter } = Astro.props;
---

<DefaultLayout title={frontmatter.title}>
	<div class="px-12">
		<div class="space-content my-12">
			<slot />
		</div>
	</div>
</DefaultLayout>
