---
import MarkdownLayout from "./MarkdownLayout.astro";

const { frontmatter } = Astro.props;
---

<MarkdownLayout title={frontmatter.title}>
	<article class="flex flex-col items-center gap-12 py-8">
		<header class="w-full bg-indigo-300/20">
			<div class="mx-auto max-w-3xl px-8 py-4">
				<p class="text-sm">{"Written: " + frontmatter.date}</p>
				<h1 class="text-2xl font-bold uppercase">{frontmatter.title}</h1>
				<h2 class="uppercase">{frontmatter.subtitle}</h2>
			</div>
		</header>

		<section
			class={`flex flex-col gap-4 px-8 max-w-3xl
				leading-normal
				prose-li:before:content-['→_'] prose-li:text-lg prose-li:indent-4
				prose-h2:mb-2 prose-h2:mt-4 prose-h2:text-xl prose-h2:font-bold prose-h2:uppercase
				prose-p:text-lg prose-p:text-justify prose-p:indent-4
				`}
		>
			<slot />
		</section>
	</article>
</MarkdownLayout>
