---
import DefaultLayout from "./DefaultLayout.astro";

const { frontmatter } = Astro.props;
---

<DefaultLayout title={frontmatter.title}>
	<article class="mx-auto flex max-w-3xl flex-col gap-8 py-12">
		<div class="px-8">
			<a class="underline" href="/blog/">all posts</a>
		</div>

		<header class="bg-indigo-300/20 px-8 py-2">
			<p class="text-sm">{"Posted: " + frontmatter.date}</p>
			<h1 class="text-2xl font-bold">{frontmatter.title}</h1>
			<h2 class="font-bold">{frontmatter.subtitle}</h2>
		</header>

		<section class="flex flex-col gap-4 px-8">
			<slot />
		</section>
	</article>
</DefaultLayout>

<style>
	* {
		font-size: large;
	}
</style>
